<div class="home-image">
    <div class="image" [ngStyle]="{'background-image' : bg}">
        <div class="bg-color"></div>
    </div>
</div>

<!-- -------------------------About--------------------------------- -->

<div class="about">
    <div class="head">
        <h1 class="head-h1">About Us</h1>
        <hr class="head-hr">
    </div>
    <div class="about-p-div">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cursus euismod quis viverra nibh. Tincidunt lobortis feugiat vivamus at augue eget. Rutrum quisque non tellus orci ac auctor
            augue mauris. Vitae tortor condimentum lacinia quis. Neque gravida in fermentum et sollicitudin ac orci phasellus egestas. Quam vulputate dignissim suspendisse in est ante in nibh mauris. Urna nunc id cursus metus aliquam eleifend mi. Integer
            feugiat scelerisque varius morbi enim nunc faucibus a. Egestas fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate. Tortor pretium viverra suspendisse potenti nullam. Dignissim diam quis enim lobortis scelerisque fermentum
            dui. Massa tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Ultrices tincidunt arcu non sodales neque. Netus et malesuada fames ac turpis egestas maecenas pharetra. Sapien faucibus et molestie ac.</p>
    </div>
</div>

<!-- ---------------------------Team---------------------------------------- -->

<div class="team">
    <div class="head">
        <h1 class="head-h1">Our Team</h1>
        <hr class="head-hr">
    </div>
    <div class="team-img-outer-div">
        <div class="team-img-div">
            <div>
                <div class="rounded-img">
                    <img src="../../assets/Images/team.jpg" alt="team">
                    <div class="team-detail">
                        <div class="team-detail-inner">
                            <fa-icon [icon]="faWhatsapp" size="2x"></fa-icon>
                            <a href="https://www.facebook.com/" target="_block">
                                <fa-icon [icon]="faFacebookF" size="2x"></fa-icon>
                            </a>
                            <a href="mailto:example@test.com">
                                <fa-icon [icon]="Envelope" size="2x"></fa-icon>
                            </a>
                        </div>
                    </div>
                </div>
                <p class="name">Mohan Kumar</p>
            </div>

        </div>
        <div class="team-img-div">
            <div>
                <div class="rounded-img">
                    <img src="../../assets/Images/team.jpg" alt="team">
                    <div class="team-detail">
                        <div class="team-detail-inner">
                            <fa-icon [icon]="faWhatsapp" size="2x"></fa-icon>
                            <a href="https://www.facebook.com/" target="_block">
                                <fa-icon [icon]="faFacebookF" size="2x"></fa-icon>
                            </a>
                            <a href="mailto:example@test.com">
                                <fa-icon [icon]="Envelope" size="2x"></fa-icon>
                            </a>
                        </div>
                    </div>
                </div>
                <p class="name">Ganeshan</p>
            </div>
        </div>
        <div class="team-img-div">
            <div>
                <div class="rounded-img">
                    <img src="../../assets/Images/team.jpg" alt="team">
                    <div class="team-detail">
                        <div class="team-detail-inner">
                            <fa-icon [icon]="faWhatsapp" size="2x"></fa-icon>
                            <a href="https://www.facebook.com/" target="_block">
                                <fa-icon [icon]="faFacebookF" size="2x"></fa-icon>
                            </a>
                            <a href="mailto:example@test.com">
                                <fa-icon [icon]="Envelope" size="2x"></fa-icon>
                            </a>
                        </div>
                    </div>
                </div>
                <p class="name">Vetrivel</p>
            </div>
        </div>
    </div>
</div>

<!-- --------------------------Contact--------------------------- -->

<div class="contact">
    <div class="head">
        <h1 class="head-h1">Contact</h1>
        <hr class="head-hr">
    </div>
    <div class="contact-outer-div">
        <!-- <div class="contact-sub-div">adv</div> -->
        <div class="contact-sub-div">
            <div class="detail">
                <div class="icon-div">
                    <fa-icon [icon]="faMapMarkerAlt" size="lg"></fa-icon>
                </div>
                <p>Sathyamangalam, Gingee, Villupuram</p>
            </div>
            <div class="detail">
                <div class="icon-div">
                    <fa-icon [icon]="faEnvelope" size="lg"></fa-icon>
                </div>
                <p>deivafarm@gmail.com</p>
            </div>
            <div class="detail">
                <div class="icon-div">
                    <fa-icon [icon]="faPhone" size="lg"></fa-icon>
                </div>
                <p>9876543210</p>
            </div>
            <div class="icon-div social">
                <fa-icon [icon]="faWhatsapp" size="2x"></fa-icon>
                <fa-icon [icon]="faFacebookF" size="2x"></fa-icon>
                <fa-icon [icon]="faTwitter" size="2x"></fa-icon>
            </div>
        </div>
        <div class="contact-sub-div">
            <div class="msg"><input type="text" placeholder="Name"></div>
            <div class="msg"><input type="email" placeholder="Email"></div>
            <div class="msg"><textarea name="message" cols="30" rows="7" placeholder="Send your message"></textarea></div>
            <div class="msg"><button type="submit">Send</button></div>
        </div>
    </div>
</div>